.speeds-calc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (max-width: 360px) {
  .results-grid {
    grid-template-columns: 1fr;
  }
}
